doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Restaurant Food Ordering
    link(rel='stylesheet', href='styles.css')
  body
    header
      h1 Restaurant Name
    nav
      ul
        li
          a(href='#home') Home
        li
          a(href='#menu') Menu
        li
          a(href='#order') Order
    main
      section#home
        h2 Welcome to Restaurant Name
        p Discover a world of delicious flavors at Restaurant Name. We offer a variety of dishes to satisfy your cravings.
        img(src='https://www.example.com/restaurant-image.jpg', alt='Restaurant Image')
      section#menu
        h2 Menu
        div.menu-item
          h3 Pizza
          p $10.99
          img(src='https://static.toiimg.com/photo/51892394.cms', alt='Pizza Image')
          button Add to Cart
        div.menu-item
          h3 Burger
          p $6.99
          img(src='https://www.tastingtable.com/img/gallery/what-makes-restaurant-burgers-taste-different-from-homemade-burgers-upgrade/intro-1662064407.jpg', alt='Burger Image')
          button Add to Cart
      section#order
        h2 Your Order
        div.order-item
          h3 Pizza
          p $10.99
          img(src='https://static.toiimg.com/photo/51892394.cms', alt='Pizza Image')
          button Remove
        div.order-item
          h3 Burger
          p $6.99
          img(src='https://www.tastingtable.com/img/gallery/what-makes-restaurant-burgers-taste-different-from-homemade-burgers-upgrade/intro-1662064407.jpg', alt='Burger Image')
          button Remove
        div.total
          p Total: $17.98
        button Checkout
    footer
      p &copy; 2023 Restaurant Name
  script(src='script.js')
