extends layout

block content
  h1 Your Order
  //- Loop through and display order items here
  each item in orderItems
    div.order-item
      h3= item.name
      p= `$${item.price.toFixed(2)}`
      button Remove
  div.total
    p Total: $#{calculateTotal(orderItems)}
  button Checkout
